:root{
    /* Color*/
    --color-primary:#ee5057;
    --color-secondary:#111;
    ---color-text:#898989;

    /* Font */
    --font-primary:'open sans',Helvetica,Arial,sans-serif;
    --font-bold:700;
    --font-light:400;
    --font-size-text:13px;
    --font-size-title:20px;
    --font-size-section-title:48px;
    /* Size */

    --size-primary:25px;
    --margin-primary:var(--size-primary);
    --padding-primary:var(--size-primary);
    --height-primary:120px;

}
.navbar-brand img{height:50px;
width: 50px;
border-radius: 50%;
}
@media (min-width:768px ){.navbar{
    height:var(--height-primary);
}
.navbar .travel-nav-link .nav-link{ padding: calc(var(--padding-primary)*2) var(--padding-primary);
   

}}

.navbar .travel-nav-link .nav-link{ padding-right: var(--padding-primary);
padding-left: var(--padding-primary);}


.navbar .travel-nav-link .nav-link.nav-link:hover{ 
    background-color:#52BDFF;
    color: white;

}
.hero{ background:  url(backgroundimg.jpg) no-repeat center center /cover;
height: 670px;
display: flex;
align-items: center;
justify-content: center;

}

.search-form{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: var(--padding-primary) calc(var(--padding-primary)*2);
    
}
.form-group{
    flex: 1 25%;
    position: relative;
    display: flex;
    align-items: center;
   
    
}
#ui-datepicker-div{background-color: beige;}


.form-group .form-control{
    border-radius: 0;
    padding: calc(var(--padding-primary)/2);
    padding-left:calc(var(--padding-primary)*2);
    background-color: beige;
    
}
.form-group i{
    color: var(--color-primary);
    font-size: var(--font-size-title);
    position: absolute;
    left: 20px;
}
.form-control{background-color: beige;}
.btn-primary{
    background-color: var(--color-primary);
    width: 100%;
    border: none;
    padding: calc(var(--padding-primary)/2);
    text-transform: uppercase;
    font-weight: var(--font-bold);
}


.need-help{
    background-color: white;
    font-size: 0.8rem;
    padding: 0 calc(var(--padding-primary)*2) calc(var(--padding-primary)/2);
    
}





section{
    padding: calc(var(--padding-primary)*2) 0;
    position: relative;
    


}

.section-color{
    background-color: var(--color-primary);
    color: white;
}
.section-title{
    font-size: var(--font-size-section-title);
}
.section-subtitle{
    font-size: var(--font-size-title);
}
.btn-white{
    border: 2px solid white ;
    color: inherit;
    padding: calc(var(--padding-primary)/2) var(--padding-primary);
}

.btn-white:hover{
    background-color:  white ;
    color: var(--color-primary);
    
}



.section-down-arrow{
    position: absolute;
    top:0;
    width: 100%;
    height: var(--height-primary);
    transition: all .2s ease-in;
}

.article{
    
    text-align: center;
    margin-top: 50px;
    padding: var(--padding-primary);
    
}
.article:hover{
    scale: 1.05;
    box-shadow: 0 0 6px 0 var(---color-text);
}
.article .article-icon{
    font-size: 4rem;
    margin-bottom: var(--size-primary);
}

/* slider js*/

.container-grey{
    background: color #f4f4f4;;
}

.level-slider{
    background-color: white;
}
.level-slider-item{
    margin-right: calc(var(--size-primary)/2);
    background-color: white;
}
.level-slider img { width: 100%;}

.level-slider-item-container{
    padding: var(--padding-primary);
}
.level-slider-item h3{
    font-size: var(--font-size-title);
    color: var(--color-primary);
}

.level-slider-item p{
    font-size: var(--font-size-text);
    color: var(---color-text);
}
.star-places img{
    width: 300px;
    height: 200px;
}
.star-places-header{
    text-align: center;
    color: inherit;
}
.star-places-body {
   text-align: center;
    color: inherit;
}


/*********************************Footer**************************************/

footer{
    background-color: var(--color-primary);
    height: fit-content;
    
}
.social-media i{
    font-size: 40px;
    text-align: center;
    padding: 10px;
    margin: 45px 20px; 
}
    


@media only screen and (max-width: 375px) {
    .social-media i{
        font-size: 30px;
        text-align: center;
        padding: 15px;
        margin: 25px; 
    }
    .payment-methods img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        
        padding: 5px;
        
       
    }
    .contactus{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }




footer p{text-align: center;}

.footer-links {
    margin: 20px;
    padding: 20px;
}

.payment-methods img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 25px;
    
   
}

.payment-methods{
    margin-top: 30px;

}

/**********************Flights service page CSS****************************/

.text-title-home{
    color: var(--color-primary);
}
.video {
    
width: 780px;
height: 450px;
z-index: 0;}

.video-adds{ 
    overflow: hidden;
    position: relative;
   
   
}




.video-overlays{
    position: absolute;
    background-color: rgb(0, 0, 0,50%);
    width: 780px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

}
.video-control-play , .video-control-pause{
    color:var(--color-primary);
    font-size: var(--font-size-section-title);
    cursor:pointer;
    z-index: 4;
}

.video-control-pause{
    display: none;
}
.section-two-grey {
    justify-content: center;
    align-items: center;
}

/*************************************contact***********************/

.contactdetails {
    padding: 25px;
    margin-left:50px;

}
.star-places2-body img{
    width: 300px;
    height: 200px
    ;
}

.contactbtn{
    width: 30%;
}
#surname, #name ,#email ,#urquestion {
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
    
}

.contactus{
    display: flex;
    margin: 5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
.contactus img{
    width: 250px;
    height: 400px;
}